html {
	overflow: auto;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 1.2em;
	line-height: 2em;
	color: #FFFFFF;
}

#gameName {
	font-family: 'Roboto', sans-serif;
}